<div class="row">

	<div class="col-md-auto">
		<h3>Enter Planetery Information <small class="text-muted">Vedic Astrology</small></h3>
	</div>
		
	<div class="w-100"></div>

	<div class="col-md-auto">
		<!-- Back Button -->
		<button type="button" class="btn btn-outline-primary">
			<a href="#!new user" class="text-dark">Back</a>
		</button>
	</div>
		
</div>


<!-- Rest of the form for plaetery information-->

<!-- Planets : Lagna, Sun ,Moon, Mars, Mercury, Jupiter, Venus, Saturn, Rahu, Ketu-->
<!-- RL, NL, SL MD, AD, PD : Planet name (select one)-->
<!-- House under operation for MD, Ad, pd : upto 6 numbers-->
<!-- Comment for each planet-->


<div class="m-3">
<div class="row justify-content-sm-center">


<form action="complete new user_submit" method="get" accept-charset="utf-8">
	

<div class="accordion" id="userForm">

<!--1. Lagna-->
  <div class="card">
    <div class="card-header" id="lagna">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#planetLagna" aria-expanded="true" aria-controls="planetLagna">
          1. Lagna
        </button>
      </h2>
    </div>

    <div id="planetLagna" class="collapse show" aria-labelledby="lagna" data-parent="#userForm">
      <div class="card-body">
		<planet-info></planet-info>
    </div>
  </div>

<!--2. Sun-->
  <div class="card">
    <div class="card-header" id="sun">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#planetSun" aria-expanded="false" aria-controls="planetSun">
          2. Sun
        </button>
      </h2>
    </div>
    <div id="planetSun" class="collapse" aria-labelledby="sun" data-parent="#userForm">
      <div class="card-body">
        <planet-info></planet-info>
      </div>
    </div>
  </div>

  <!-- 3. Moon -->
  <div class="card">
    <div class="card-header" id="moon">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#planetMoon" aria-expanded="false" aria-controls="planetMoon">
          3. Moon
        </button>
      </h2>
    </div>
    <div id="planetMoon" class="collapse" aria-labelledby="moon" data-parent="#userForm">
      <div class="card-body">
        <planet-info></planet-info>
      </div>
    </div>
  </div>

 <!-- 4. Mars-->
 <div class="card">
    <div class="card-header" id="mars">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#planetMars" aria-expanded="false" aria-controls="planetMars">
          4. Mars
        </button>
      </h2>
    </div>
    <div id="planetMars" class="collapse" aria-labelledby="mars" data-parent="#userForm">
      <div class="card-body">
        <planet-info></planet-info>
      </div>
    </div>
  </div>

 <!-- 5. Mercury-->
 <div class="card">
    <div class="card-header" id="mercury">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#planetMercury" aria-expanded="false" aria-controls="planetMercury">
          5. Mercury
        </button>
      </h2>
    </div>
    <div id="planetMercury" class="collapse" aria-labelledby="mercury" data-parent="#userForm">
      <div class="card-body">
        <planet-info></planet-info>
      </div>
    </div>
  </div>

 <!-- 6. Jupiter-->
 <div class="card">
    <div class="card-header" id="jupiter">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#planetJupiter" aria-expanded="false" aria-controls="planetJupiter">
          6. Jupiter
        </button>
      </h2>
    </div>
    <div id="planetJupiter" class="collapse" aria-labelledby="jupiter" data-parent="#userForm">
      <div class="card-body">
        <planet-info></planet-info>
      </div>
    </div>
  </div>

 <!-- 7. Venus-->
 <div class="card">
    <div class="card-header" id="venus">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#planetVenus" aria-expanded="false" aria-controls="planetVenus">
          7. Venus
        </button>
      </h2>
    </div>
    <div id="planetVenus" class="collapse" aria-labelledby="venus" data-parent="#userForm">
      <div class="card-body">
       <planet-info></planet-info>
      </div>
    </div>
  </div>

 <!-- 8. Saturn-->
 <div class="card">
    <div class="card-header" id="saturn">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#planetSaturn" aria-expanded="false" aria-controls="planetSaturn">
          8. Saturn
        </button>
      </h2>
    </div>
    <div id="planetSaturn" class="collapse" aria-labelledby="saturn" data-parent="#userForm">
      <div class="card-body">
        <planet-info></planet-info>
      </div>
    </div>
  </div>

 <!-- 9. Rahu-->
 <div class="card">
    <div class="card-header" id="rahu">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#planetRahu" aria-expanded="false" aria-controls="planetRahu">
          9. Rahu
        </button>
      </h2>
    </div>
    <div id="planetRahu" class="collapse" aria-labelledby="rahu" data-parent="#userForm">
      <div class="card-body">
        <planet-info></planet-info>
      </div>
    </div>
  </div>

 <!-- 10. Ketu-->
 <div class="card">
    <div class="card-header" id="ketu">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#planetKetu" aria-expanded="false" aria-controls="planetKetu">
          10. Ketu
        </button>
      </h2>
    </div>
    <div id="planetKetu" class="collapse" aria-labelledby="ketu" data-parent="#userForm">
      <div class="card-body">
        <planet-info></planet-info>
      </div>
    </div>
  </div>


</div>

</form>

</div>
</div>