<!-- 1. House_1 -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="house_1" value="1">
  <label class="form-check-label" for="house_1">1</label>
</div>

<!-- 2. house_2 -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="house_2" value="2">
  <label class="form-check-label" for="house_2">2</label>
</div>

<!-- 3. house_3 -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="house_3" value="3">
  <label class="form-check-label" for="house_3">3</label>
</div>

<!-- 4. house_4 -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="house_4" value="4">
  <label class="form-check-label" for="house_4">4</label>
</div>

<!-- 5. house_5 -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="house_5" value="5">
  <label class="form-check-label" for="house_5">5</label>
</div>

<!-- 6. house_6 -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="house_6" value="6">
  <label class="form-check-label" for="house_6">6</label>
</div>

<!-- 7. house_7 -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="house_7" value="7">
  <label class="form-check-label" for="house_7">7</label>
</div>

<!-- 8. house_8 -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="house_8" value="8">
  <label class="form-check-label" for="house_8">8</label>
</div>

<!-- 9. house_9 -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="house_9" value="9">
  <label class="form-check-label" for="house_9">9</label>
</div>

<!-- 10. house_10 -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="house_10" value="10">
  <label class="form-check-label" for="house_10">10</label>
</div>

<!-- 11. house_11 -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="house_11" value="11">
  <label class="form-check-label" for="house_10">11</label>
</div>

<!-- 12. house_12 -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="house_12" value="12">
  <label class="form-check-label" for="house_12">12</label>
</div>