		<!--RL -->
		<div class="form-row">
			<label for="RL">Rasi-Lord (RL)</label>
		</div>

		<div class="form-row">
			<planet-tag></planet-tag>
		</div>
		
		<br>
		<!--NL -->
		<div class="form-row">
			<label for="NL">Nakshtra-Lord (NL)</label>
		</div>

		<div class="form-row">
			<planet-tag></planet-tag>
		</div>
		
		<br>
		<!--SL -->
		<div class="form-row">
			<label for="SL">Sub-Lord (SL)</label>
		</div>

		<div class="form-row">
			<planet-tag></planet-tag>
		</div>

		<br>
		<!--MD -->
		<div class="form-row">
			<label for="MD">MahaDasa-Lord (MD)</label>
		</div>

		<div class="form-row">
			<planet-tag></planet-tag>
		</div>

		<br>
		<!--House under operation MD -->
		<div class="form-row">
			<label for="HouseMD">House Under Operation (MD)</label>
		</div>

		<div class="form-row">
			<house-operation></house-operation>		
		</div>
		<br>

		<!--AD -->
		<div class="form-row">
			<label for="AD">AntarDasa-Lord (AD)</label>
		</div>

		<div class="form-row">
			<planet-tag></planet-tag>
		</div>

		<br>
		<!--House under operation AD -->
		<div class="form-row">
			<label for="HouseAD">House Under Operation (AD)</label>
		</div>

		<div class="form-row">
			<house-operation></house-operation>		
		</div>
		<br>

		<!--PD -->
		<div class="form-row">
			<label for="PD">PratyantarDasa-Lord (PD)</label>
		</div>

		<div class="form-row">
			<planet-tag></planet-tag>
		</div>

		
		<br>
		<!--House under operation PD -->
		<div class="form-row">
			<label for="HousePD">House Under Operation (PD)</label>
		</div>

		<div class="form-row">
			<house-operation></house-operation>		
		</div>
		<br>

		<!-- User Comment --> 
		<div class="form-row">
			<label for="Comment">Comment</label>
		</div>

		<div class="form-row">
			<!-- Comment -->
			<textarea name="Comment" placeholder="Enter Comments" rows="12" class="form-control"></textarea>
      	</div>